$font-family: 'Poppins';

$background-color: #101216;

$font-color: #fbfbff;
$link-color: rgba(255, 255, 255, 0.8);

$primary-color: #5652e5;
$primary-hover-color: #635fff;

$accent-color: #e5956a;
$hightlight-color: #40f5d9;

$success-color: #3cfea5;
$error-color: #ff7070;

$pc-padding: 80px;
